

.tic-tac-toe-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}
.square{
    border: 1px solid red;
    float: left;
    font-size: 40px;
    height: 100px;
    padding: 0px;
    text-align: center;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    cursor: pointer;
}
.btn{
    color: white;
    background-color: rgb(14, 164, 132);
    border: none;
    height: 30px;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
}